@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;

}
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #F0F0F0;
    color: #1A004E;
    text-align: center;
}

.wrapper {
    padding: .5em;
    text-align: center;
}
.process {
    list-style: none;
    padding: 0;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    width: 300px;
}
.process li a {
    text-decoration: none;
    color:#464449;
    font-weight: bold;
    text-align: center;
}
.circle {
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0 auto 1em;
}
.current .circle {
    background-color: #1A004E;
    color: white;
}
.current span {
    color: #1A004E;
}

main {
    background-color: white;
    padding: 2em;
    text-align: left;
}
h2 {
    font-size:1.5rem;
    position: relative;
}
h2::before {
    content:'';
    position: absolute;
    background-color: #6427dd;
    width: 3em;
    height: 6px;
    top: -.35em;
    left: 0;
    border-radius: 1em;
}
input[type=text], select, textarea {
   width: 100%;
    padding: 1em;
    margin: .5em 0 1.5em;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #464449;
}
input[type=text]:focus, 
textarea:focus {
    border: 2px solid #464449;
}
label{
    font-weight: 700;
    display: block;
}
.left-col .error-field {
    border: 3px solid rgb(236, 121, 121);
    margin-bottom: 0;
}
.error {
    background-color: rgb(236, 121, 121);
    display: inline-block;
    margin-top: -1em;
    padding: .5em;
    font-weight: bold;
    font-size: .75rem;
    color: white;
}
.cta {
    text-decoration: none;
    background-color: #6427dd;
    color: white;
    font-weight: bold;
    padding: .5em 1.5em;
    border-radius: .2em;
    margin: 1em 0 2em;
    display: block;
    text-align: center;
}
.right-col {
    color:#757576;
}
@media (min-width:650px) {
    main {
        display: grid;
        grid-template-columns: 400px auto;
        gap: 2em;
    }
    .cta {
        margin-bottom: 0;
        float: right;
    }
    .right-col {
        font-size: .75rem;
        margin-top: 6em;
        position: relative;
    }
}

@media (min-width: 800px) {
    main {
        width: 750px;
        margin: 0 auto;
    }
}
